[Desktop Entry]
Type=Application
Exec=normalize_monitor_scales.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=normalize_monitor_scales
Name=fix
Comment[en_US]=
Comment=
