<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="system">
    <map/>
    <node name="ChartTemplate">
      <map/>
      <node name="16">
        <map>
          <entry key="priceRangeType" value="RANGE_BAR"/>
          <entry key="instantChartWidgetVisible" value="false"/>
          <entry key="renkoType" value="BRICK"/>
          <entry key="chartWidgetToolbarVisible" value="true"/>
          <entry key="instrumentHidden0" value="false"/>
          <entry key="tickType" value="LINE"/>
          <entry key="offerSideName" value="BID"/>
          <entry key="periodUnit" value="Minute"/>
          <entry key="dataUnitWidth" value="1.5885358"/>
          <entry key="yAxisPadding0" value="0.07653818176074825"/>
          <entry key="maxPrice0" value="111.713"/>
          <entry key="theme" value="Custom theme"/>
          <entry key="periodUnitsCount" value="15"/>
          <entry key="instantChartWidgetShowSentimentIndex" value="true"/>
          <entry key="historicalTesterChart" value="false"/>
          <entry key="isMouseCursorVisible" value="0"/>
          <entry key="minPrice0" value="106.915"/>
          <entry key="kagiType" value="LINE"/>
          <entry key="candleType" value="CANDLE"/>
          <entry key="isPercentMode" value="false"/>
          <entry key="usePeriodTimeZone" value="false"/>
          <entry key="instrumentCount" value="1"/>
          <entry key="tradeBarType" value="BAR"/>
          <entry key="dataType" value="TIME_PERIOD_AGGREGATION"/>
          <entry key="nLineBreakType" value="RANGE_BAR"/>
          <entry key="chartShiftInPx" value="505"/>
          <entry key="filter" value="ALL_FLATS"/>
          <entry key="isAutoShiftActive" value="1"/>
          <entry key="instantChartWidgetX" value="0.5"/>
          <entry key="pointAndFigureType" value="BOX"/>
          <entry key="instantChartWidgetY" value="0.01"/>
          <entry key="isVerticalMovementEnabled" value="0"/>
          <entry key="isVolumeMode" value="false"/>
          <entry key="periodTimeZone" value="UTC"/>
          <entry key="endTime" value="1586250000000"/>
          <entry key="instantChartWidgetShowDayRange" value="true"/>
          <entry key="instrumentName0" value="USD/JPY"/>
          <entry key="chartTreeNodeExpanded" value="true"/>
        </map>
        <node name="ChartLayers">
          <map>
            <entry key="TOOLTIPS" value="true"/>
            <entry key="GRID" value="false"/>
            <entry key="PERIOD_SEPARATORS" value="false"/>
            <entry key="ALERTS" value="true"/>
            <entry key="PENDING_ORDERS" value="true"/>
            <entry key="CANDLES" value="true"/>
            <entry key="DRAWINGS" value="true"/>
            <entry key="HISTORICAL_ORDERS" value="false"/>
            <entry key="INDICATORS" value="true"/>
            <entry key="OPEN_POSITIONS" value="true"/>
            <entry key="ORDERS_PREVIEW" value="true"/>
            <entry key="OPPOSITE_BEST_PRICE" value="false"/>
            <entry key="CURRENT_BEST_PRICE" value="true"/>
            <entry key="HIGH_LOW_PRICE_LABELS" value="false"/>
          </map>
        </node>
        <node name="Themes">
          <map/>
          <node name="Custom theme">
            <map/>
            <node name="Colors">
              <map>
                <entry key="CANDLE_BULL_FG" value="ff999999"/>
                <entry key="CANDLE_BEAR_ROW" value="ff999999"/>
                <entry key="DOJI_CANDLE" value="ffffffff"/>
                <entry key="CANDLE_BEAR_BORDER" value="ff999999"/>
                <entry key="ORDER_BUY_STOP_LOSS" value="ff5a697c"/>
                <entry key="TEXT" value="ff999999"/>
                <entry key="ODD_ROW" value="ff999999"/>
                <entry key="ALERT" value="ff9b7f1b"/>
                <entry key="FIFTH_INSTRUMENT" value="ffffff00"/>
                <entry key="ORDER_SHORT_POSITION_TRACKING_LINE" value="ffb94928"/>
                <entry key="LINE_UP" value="ff73a725"/>
                <entry key="AREA" value="ff000000"/>
                <entry key="ORDER_SELL_TAKE_PROFIT" value="ff5a697c"/>
                <entry key="ORDER_SELL_STOP_LOSS" value="ff5a697c"/>
                <entry key="CANDLE_BULL_BORDER" value="ffffffff"/>
                <entry key="ORDER_BID" value="ff576b12"/>
                <entry key="CANDLE_BULL" value="ffffffff"/>
                <entry key="ORDER_LONG_POSITION_TRACKING_LINE" value="ff576b12"/>
                <entry key="ORDER_BUY_MIT" value="ff576b12"/>
                <entry key="ORDER_CLOSE_SELL" value="ff5a697c"/>
                <entry key="AXIS_PANEL_MINOR_FOREGROUND" value="ff999999"/>
                <entry key="META" value="ffc0c0c0"/>
                <entry key="ORDER_OPEN_SELL" value="ffb94928"/>
                <entry key="BAR_DOWN" value="ff999999"/>
                <entry key="ORDER_OFFER" value="ffb94928"/>
                <entry key="CANDLE_BEAR_FG" value="ff999999"/>
                <entry key="EVEN_ROW" value="ff999999"/>
                <entry key="BACKGROUND" value="ff000000"/>
                <entry key="DRAWING" value="ffc0c0c0"/>
                <entry key="ORDER_OPEN_BUY" value="ff576b12"/>
                <entry key="THIRD_INSTRUMENT" value="ff00c8ff"/>
                <entry key="ORDER_SELL_LIMIT" value="ffb94928"/>
                <entry key="OHLC" value="ffc0c0c0"/>
                <entry key="HT_EQUITY" value="ff7092be"/>
                <entry key="HT_BALANCE" value="ffdadada"/>
                <entry key="AXIS_PANEL_FOREGROUND" value="ffb4b8c2"/>
                <entry key="BAR_UP" value="ffffffff"/>
                <entry key="CANDLE_BEAR" value="ff999999"/>
                <entry key="YIN" value="ffffffff"/>
                <entry key="ORDER_SELL_STOP" value="ffb94928"/>
                <entry key="NEUTRAL_BAR" value="ffffffff"/>
                <entry key="SECOND_INSTRUMENT" value="ffff3200"/>
                <entry key="ORDER_BUY_STOP" value="ff576b12"/>
                <entry key="LINE_DOWN" value="ff73a725"/>
                <entry key="PERIOD_SEPARATORS" value="ff666666"/>
                <entry key="CANDLE_DOJI_FG" value="ff999999"/>
                <entry key="LAST_CANDLE_TRACKING_LINE" value="ff808080"/>
                <entry key="LAST_OPPOSITE_CANDLE_TRACKING_LINE" value="ff808080"/>
                <entry key="AXIS_LABEL_BACKGROUND" value="ff5f5f5f"/>
                <entry key="ASK" value="ffa9301a"/>
                <entry key="AXIS_LABEL_BACKGROUND_BID" value="ff424d5a"/>
                <entry key="ORDER_TRACKING_LINE" value="ffc0c0c0"/>
                <entry key="BID" value="ff73a725"/>
                <entry key="HT_PROFIT_LOSS" value="ff7092be"/>
                <entry key="AXIS_LABEL_BACKGROUND_ASK" value="ff424d5a"/>
                <entry key="HIGH_LOW_PRICE_LABELS" value="ffff9900"/>
                <entry key="AXIS_LABEL_FOREGROUND" value="ffdcdde2"/>
                <entry key="ORDER_BUY_LIMIT" value="ff576b12"/>
                <entry key="OHLC_BACKGROUND" value="ff666666"/>
                <entry key="GRID" value="ff2c2f36"/>
                <entry key="YANG" value="ffffffff"/>
                <entry key="AXIS_PANEL_SELECTED_FOREGROUND" value="ffa7bcd7"/>
                <entry key="FOURTH_INSTRUMENT" value="ff00c800"/>
                <entry key="INDICATOR_LAST_VALUE_TRACKING_COLOR" value="ff808080"/>
                <entry key="ORDER_BUY_TAKE_PROFIT" value="ff5a697c"/>
                <entry key="ORDER_CLOSE_BUY" value="ff5a697c"/>
                <entry key="AXIS_PANEL_BACKGROUND" value="ff000000"/>
                <entry key="OUTLINE" value="ff666666"/>
                <entry key="CANDLE_BULL_ROW" value="ff999999"/>
                <entry key="DEFAULT" value="ff999999"/>
                <entry key="ORDER_MERGING_LINE" value="ff5a697c"/>
                <entry key="ORDER_SELL_MIT" value="ffb94928"/>
              </map>
            </node>
            <node name="Fonts">
              <map/>
              <node name="AXIS">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="DEFAULT">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="HIGH_LOW_PRICE_LABELS">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="META">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="OHLC">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="ORDER">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
            </node>
            <node name="Strokes">
              <map/>
              <node name="DEFAULT">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value=""/>
                </map>
              </node>
              <node name="GRID_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value=""/>
                </map>
              </node>
              <node name="INDICATOR_LAST_VALUE_TRACKING_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
              <node name="LAST_CANDLE_TRACKING_LINE_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
              <node name="ORDER_LINES_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAABQAAAAA=="/>
                </map>
              </node>
              <node name="PERIOD_SEPARATORS_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="drawings">
          <map/>
          <node name="-1473258141">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="45"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-2149924895568733195"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="8.774815001437375"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="-1784253100">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="16"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="2832901971195493773"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3079883850133533"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="-2016105833">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="14"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="6299834287450648138"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.332736478248478"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="-92231784">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="40"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="463638361635382100"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="9.28665490977167"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="-975100718">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="15"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="9214967447375139430"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3031581643837271"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="1059711059">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="18"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-3604622514284403167"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3252286297389457"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="1178240043">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="42"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-912604235449618424"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="9.07751111733237"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="123941289">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-16751104"/>
              <entry key="displayOrder" value="56"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-2131309503454610892"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3395958257850589"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="1831704291">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="47"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="5586799696308064231"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="9.201638301548305"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="1993225615">
            <map>
              <entry key="linkedInstrument" value="USDCHF"/>
              <entry key="color" value="-14652922"/>
              <entry key="displayOrder" value="55"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="476847976611058628"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.0000975188750612"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="2107276902">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="44"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-5708115800627311668"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="8.856477622632069"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="275353327">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="41"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="956040690337925263"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="9.31705480617014"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="509799458">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="43"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-1293192793359730042"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="8.921807719587823"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="51845433">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="17"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="2683139505953327958"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3179988496927295"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="632011096">
            <map>
              <entry key="linkedInstrument" value="USDCAD"/>
              <entry key="color" value="-4144960"/>
              <entry key="displayOrder" value="13"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-7071225841273142339"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="1.3126228594019533"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
          <node name="947304500">
            <map>
              <entry key="linkedInstrument" value="USDNOK"/>
              <entry key="color" value="-5046093"/>
              <entry key="displayOrder" value="46"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="textTruncation" value="30"/>
              <entry key="type" value="PRICEMARKER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="showPriceLabel" value="true"/>
              <entry key="fontName" value="SansSerif"/>
              <entry key="horizontalAlignment" value="4"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="true"/>
              <entry key="fontSize" value="11"/>
              <entry key="locked" value="false"/>
              <entry key="key" value="-3288462593994641927"/>
            </map>
            <node name="decorations">
              <map>
                <entry key="Beginning" value="FilledArrow"/>
                <entry key="End" value="FilledArrow"/>
              </map>
            </node>
            <node name="prices">
              <map>
                <entry key="0" value="9.001292670883991"/>
              </map>
            </node>
            <node name="times">
              <map>
                <entry key="0" value="-1"/>
              </map>
            </node>
          </node>
        </node>
        <node name="indicators">
          <map/>
          <node name="32">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="SMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="displayOrder" value="0"/>
              <entry key="highlightTimePeriodZone" value="false"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-8937938"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-8937938"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="200"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="subPanels">
          <map/>
        </node>
      </node>
    </node>
  </root>
</preferences>
