<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="system">
    <map/>
    <node name="ChartTemplate">
      <map/>
      <node name="18">
        <map>
          <entry key="priceRangeType" value="RANGE_BAR"/>
          <entry key="instantChartWidgetVisible" value="false"/>
          <entry key="renkoType" value="BRICK"/>
          <entry key="chartWidgetToolbarVisible" value="true"/>
          <entry key="instrumentHidden0" value="false"/>
          <entry key="tickType" value="LINE"/>
          <entry key="offerSideName" value="BID"/>
          <entry key="periodUnit" value="Day"/>
          <entry key="dataUnitWidth" value="9.737679"/>
          <entry key="yAxisPadding0" value="0.025"/>
          <entry key="maxPrice0" value="81.76"/>
          <entry key="theme" value="Custom theme"/>
          <entry key="periodUnitsCount" value="1"/>
          <entry key="instantChartWidgetShowSentimentIndex" value="true"/>
          <entry key="historicalTesterChart" value="false"/>
          <entry key="isMouseCursorVisible" value="0"/>
          <entry key="minPrice0" value="61.515"/>
          <entry key="kagiType" value="LINE"/>
          <entry key="candleType" value="CANDLE"/>
          <entry key="isPercentMode" value="false"/>
          <entry key="usePeriodTimeZone" value="false"/>
          <entry key="instrumentCount" value="1"/>
          <entry key="tradeBarType" value="BAR"/>
          <entry key="dataType" value="TIME_PERIOD_AGGREGATION"/>
          <entry key="nLineBreakType" value="RANGE_BAR"/>
          <entry key="chartShiftInPx" value="224"/>
          <entry key="filter" value="ALL_FLATS"/>
          <entry key="isAutoShiftActive" value="1"/>
          <entry key="instantChartWidgetX" value="0.5"/>
          <entry key="pointAndFigureType" value="BOX"/>
          <entry key="instantChartWidgetY" value="0.01"/>
          <entry key="isVerticalMovementEnabled" value="0"/>
          <entry key="periodTimeZone" value="EET"/>
          <entry key="endTime" value="1564434000000"/>
          <entry key="instantChartWidgetShowDayRange" value="true"/>
          <entry key="instrumentName0" value="COTTON.CMD/USX"/>
          <entry key="chartTreeNodeExpanded" value="true"/>
        </map>
        <node name="ChartLayers">
          <map>
            <entry key="TOOLTIPS" value="true"/>
            <entry key="GRID" value="false"/>
            <entry key="PERIOD_SEPARATORS" value="false"/>
            <entry key="ALERTS" value="true"/>
            <entry key="PENDING_ORDERS" value="true"/>
            <entry key="CANDLES" value="true"/>
            <entry key="DRAWINGS" value="true"/>
            <entry key="HISTORICAL_ORDERS" value="true"/>
            <entry key="INDICATORS" value="true"/>
            <entry key="OPEN_POSITIONS" value="true"/>
            <entry key="ORDERS_PREVIEW" value="true"/>
            <entry key="OPPOSITE_BEST_PRICE" value="false"/>
            <entry key="CURRENT_BEST_PRICE" value="true"/>
            <entry key="HIGH_LOW_PRICE_LABELS" value="false"/>
          </map>
        </node>
        <node name="Themes">
          <map/>
          <node name="Custom theme">
            <map/>
            <node name="Colors">
              <map>
                <entry key="CANDLE_BULL_FG" value="ff999999"/>
                <entry key="CANDLE_BEAR_ROW" value="ff999999"/>
                <entry key="DOJI_CANDLE" value="ffffffff"/>
                <entry key="CANDLE_BEAR_BORDER" value="ff999999"/>
                <entry key="ORDER_BUY_STOP_LOSS" value="ff5a697c"/>
                <entry key="TEXT" value="ff999999"/>
                <entry key="ODD_ROW" value="ff999999"/>
                <entry key="ALERT" value="ff9b7f1b"/>
                <entry key="FIFTH_INSTRUMENT" value="ffffff00"/>
                <entry key="ORDER_SHORT_POSITION_TRACKING_LINE" value="ffb94928"/>
                <entry key="LINE_UP" value="ff73a725"/>
                <entry key="AREA" value="ff000000"/>
                <entry key="ORDER_SELL_TAKE_PROFIT" value="ff5a697c"/>
                <entry key="ORDER_SELL_STOP_LOSS" value="ff5a697c"/>
                <entry key="CANDLE_BULL_BORDER" value="ffffffff"/>
                <entry key="ORDER_BID" value="ff576b12"/>
                <entry key="CANDLE_BULL" value="ffffffff"/>
                <entry key="ORDER_LONG_POSITION_TRACKING_LINE" value="ff576b12"/>
                <entry key="ORDER_BUY_MIT" value="ff576b12"/>
                <entry key="ORDER_CLOSE_SELL" value="ff5a697c"/>
                <entry key="META" value="ffc0c0c0"/>
                <entry key="ORDER_OPEN_SELL" value="ffb94928"/>
                <entry key="BAR_DOWN" value="ff999999"/>
                <entry key="ORDER_OFFER" value="ffb94928"/>
                <entry key="CANDLE_BEAR_FG" value="ff999999"/>
                <entry key="EVEN_ROW" value="ff999999"/>
                <entry key="BACKGROUND" value="ff000000"/>
                <entry key="DRAWING" value="ffc0c0c0"/>
                <entry key="ORDER_OPEN_BUY" value="ff576b12"/>
                <entry key="THIRD_INSTRUMENT" value="ff00c8ff"/>
                <entry key="ORDER_SELL_LIMIT" value="ffb94928"/>
                <entry key="OHLC" value="ffc0c0c0"/>
                <entry key="HT_EQUITY" value="ff7092be"/>
                <entry key="HT_BALANCE" value="ffdadada"/>
                <entry key="AXIS_PANEL_FOREGROUND" value="ffb4b8c2"/>
                <entry key="BAR_UP" value="ffffffff"/>
                <entry key="CANDLE_BEAR" value="ff999999"/>
                <entry key="YIN" value="ffffffff"/>
                <entry key="ORDER_SELL_STOP" value="ffb94928"/>
                <entry key="NEUTRAL_BAR" value="ffffffff"/>
                <entry key="SECOND_INSTRUMENT" value="ffff3200"/>
                <entry key="ORDER_BUY_STOP" value="ff576b12"/>
                <entry key="LINE_DOWN" value="ff73a725"/>
                <entry key="PERIOD_SEPARATORS" value="ff666666"/>
                <entry key="CANDLE_DOJI_FG" value="ff999999"/>
                <entry key="LAST_CANDLE_TRACKING_LINE" value="ff808080"/>
                <entry key="LAST_OPPOSITE_CANDLE_TRACKING_LINE" value="ff808080"/>
                <entry key="AXIS_LABEL_BACKGROUND" value="ff5f5f5f"/>
                <entry key="ASK" value="ffa9301a"/>
                <entry key="AXIS_LABEL_BACKGROUND_BID" value="ff424d5a"/>
                <entry key="ORDER_TRACKING_LINE" value="ffc0c0c0"/>
                <entry key="BID" value="ff73a725"/>
                <entry key="HT_PROFIT_LOSS" value="ff7092be"/>
                <entry key="AXIS_LABEL_BACKGROUND_ASK" value="ff424d5a"/>
                <entry key="HIGH_LOW_PRICE_LABELS" value="ffff9900"/>
                <entry key="AXIS_LABEL_FOREGROUND" value="ffdcdde2"/>
                <entry key="ORDER_BUY_LIMIT" value="ff576b12"/>
                <entry key="OHLC_BACKGROUND" value="ff666666"/>
                <entry key="GRID" value="ff2c2f36"/>
                <entry key="YANG" value="ffffffff"/>
                <entry key="AXIS_PANEL_SELECTED_FOREGROUND" value="ffa7bcd7"/>
                <entry key="FOURTH_INSTRUMENT" value="ff00c800"/>
                <entry key="INDICATOR_LAST_VALUE_TRACKING_COLOR" value="ff808080"/>
                <entry key="ORDER_BUY_TAKE_PROFIT" value="ff5a697c"/>
                <entry key="ORDER_CLOSE_BUY" value="ff5a697c"/>
                <entry key="AXIS_PANEL_BACKGROUND" value="ff000000"/>
                <entry key="OUTLINE" value="ff666666"/>
                <entry key="CANDLE_BULL_ROW" value="ff999999"/>
                <entry key="DEFAULT" value="ff999999"/>
                <entry key="ORDER_MERGING_LINE" value="ff5a697c"/>
                <entry key="ORDER_SELL_MIT" value="ffb94928"/>
              </map>
            </node>
            <node name="Fonts">
              <map/>
              <node name="AXIS">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="DEFAULT">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="HIGH_LOW_PRICE_LABELS">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="META">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="OHLC">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
              <node name="ORDER">
                <map>
                  <entry key="FontSize" value="11"/>
                  <entry key="FontName" value="Dialog.plain"/>
                </map>
              </node>
            </node>
            <node name="Strokes">
              <map/>
              <node name="DEFAULT">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value=""/>
                </map>
              </node>
              <node name="GRID_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value=""/>
                </map>
              </node>
              <node name="INDICATOR_LAST_VALUE_TRACKING_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
              <node name="LAST_CANDLE_TRACKING_LINE_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
              <node name="ORDER_LINES_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAABQAAAAA=="/>
                </map>
              </node>
              <node name="PERIOD_SEPARATORS_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="indicators">
          <map/>
          <node name="163">
            <map>
              <entry key="subPanelId" value="5"/>
              <entry key="indicatorName" value="ATR"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Month_1_UTC"/>
              <entry key="displayOrder" value="4"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-1"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-1"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="2"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="14"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="183">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="EMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Week_1_UTC"/>
              <entry key="displayOrder" value="5"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-14652922"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-14652922"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="21"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="223">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="MINMAX"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="displayOrder" value="0"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-9399618"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="colorValue" value="-10092442"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-9399618"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="colorValue" value="-16777216"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
                <entry key="1" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputDisplayOrder" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="14"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="false"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="HIGH"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="249">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="MINMAX"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="displayOrder" value="6"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-16777216"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="colorValue" value="-4899015"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-10092442"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="colorValue" value="-4899015"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
                <entry key="1" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputDisplayOrder" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="14"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="false"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="LOW"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="29">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="EMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Month_1_UTC"/>
              <entry key="displayOrder" value="2"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="0.8"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="5"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="345">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="EMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Month_1_UTC"/>
              <entry key="displayOrder" value="7"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-8937938"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-8937938"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="0.6"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="21"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="38">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="EMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Month_1_UTC"/>
              <entry key="displayOrder" value="1"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-3584"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-3584"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="14"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="48">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="EMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Month_1_UTC"/>
              <entry key="displayOrder" value="3"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-13336849"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-13336849"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="51"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="subIndicatorMaxValues">
          <map/>
          <node name="163">
            <map>
              <entry key="maxValue" value="1.801686936362363"/>
            </map>
          </node>
        </node>
        <node name="subIndicatorMinValues">
          <map/>
          <node name="163">
            <map>
              <entry key="minValue" value="1.1603636977065162"/>
            </map>
          </node>
        </node>
        <node name="subIndicatorPaddings">
          <map/>
          <node name="163">
            <map>
              <entry key="padding" value="0.2458778095410547"/>
            </map>
          </node>
        </node>
        <node name="subPanelHeights">
          <map/>
          <node name="5">
            <map>
              <entry key="height" value="62"/>
            </map>
          </node>
        </node>
        <node name="subPanelsCombineScales">
          <map/>
        </node>
        <node name="subPanelsIndicatorsVisibility">
          <map/>
        </node>
        <node name="subPanelsShowIndicatorNames">
          <map/>
        </node>
        <node name="subPanelsShowSecondaryScale">
          <map/>
        </node>
      </node>
    </node>
  </root>
</preferences>
